{% extends 'core.html' %}
{% block title %}Create Trip{%endblock%}
{% block createtrip_content%}
<section class="bg-slate-200  h-screen w-screen">
    <div class="flex flex-col items-center justify-center mx-auto w-2/3">
        <div class="w-full bg-light rounded-lg shadow p-5 mt-10 justify-center">
            <div class="px-6">
                <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl color-primary">
                    Create a Trip
                </h1>
                <form class="grid grid-cols-2 gap-4" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="tripName" class="block mt-2 mb-2 text-sm font-medium color-primary">Trip Name</label>
                        <input type="text" name="tripName" id="tripName" class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter Trip Name" required="">
                    </div>
                    <div>
                        <label for="date" class="block mt-2 mb-2 text-sm font-medium color-primary">Date</label>
                        <input type="date" name="date" id="date" class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
                    <div>
                        <label for="time" class="block mt-2 mb-2 text-sm font-medium color-primary">Departure Time</label>
                        <input type="time" name="time" id="time" class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
                    <div>
                        <label for="images" class="block mt-2 mb-2 text-sm font-medium color-primary">Images</label>
                        <input type="file" name="images" id="images" accept="image/*" multiple class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="col-span-2">
                        <label for="description" class="block mt-2 mb-2 text-sm font-medium color-primary">Description</label>
                        <textarea name="description" id="description" class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter Trip Description" required=""></textarea>
                    </div>
                    <div class="col-span-2">
                        <label for="location" class="block mt-2 mb-2 text-sm font-medium color-primary">Location</label>
                        <input type="text" name="location" id="location" class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter Trip Location" required="">
                    </div>
                    <div>
                        <label for="participants" class="block mt-2 mb-2 text-sm font-medium color-primary">Participants</label>
                        <input type="text" name="participants" id="participants" class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter Participants" required="">
                    </div>
                    <div>
                        <label for="car" class="flex justify-between mt-2 mb-2 text-sm font-medium color-primary">Choose a Car
                            <a href="{% url 'userProfile'%}" class="color-sec no-underline"> No car yet? Start by adding a Car!</a>
                        </label>
                        <select name="car" id="car" class="bg-gray-50 border border-gray-300 color-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                            <option value="car1">Car 1</option>
                            <option value="car2">Car 2</option>
                            <option value="car3"> Car 3 </option>
                        </select>
                    </div>

                    <div class="col-span-2 flex space-x-4">
                        <button type="submit" class="w-full color-sec font-bold bg-light border-sec hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-sm px-5 py-2.5 text-center shadow-hover">Save Trip</button>
                        <button type="submit" class="w-full text-white bg-sec hover:bg-sec focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center shadow-hover">Save and Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}
