{% extends 'core.html' %}
{% block title %}Home{%endblock%}
{% block home_content%}
<!-- Main Section -->
<div class="grid grid-rows-3 grid-cols-3 gap-6 items-center justify-center mx-20">
    <!-- Welcome User -->
    <div class="mt-10 flex flex-col justify-center items-center p-4 row-start-1 col-start-1 col-span-full gap-4 h-full text-center rounded-2xl">
        <span class="font-extrabold text-6xl color-sec anim-typewriter">
        {% if user %}Hey {{ request.user.first_name }}, did you know that 
        {% else %} Welcome! {% endif %}
        </span>
        {{fun_fact}}
        <a href="{% url 'feed' %}"><span class="color-sec hover:underline">Discover Lebanon</span></a>
    </div>
    <!-- Trips Modules -->
    {%if not allTrue and my_trips.count > 0 %}
    {% for trip in my_trips|slice:":3"%}
    {% if not trip.isCompleted %}
    <div class="border-sec flex justify-evenly items-center p-4 row-span-1 col-span-1 h-full text-center rounded-2xl">
        <div class="p-4 flex flex-col items-start">
            <div class="flex justify-around items-center align-middle w-full mb-2">
                <h2 class="text-2xl font-bold">{{trip.name}} {{ trip.tripID }}</h2>
                <button class="bookmark-f"><i class="fa-regular fa-bookmark"></i></button>
                <button class="bookmark-t hidden"><i class="fa-solid fa-bookmark"></i></button>
                <button class="complete-f " data-trip-id="{{ trip.tripID }}"><i class="fa-regular fa-circle-check"></i></button>
                <button class="complete-t hidden"><i class="fa-solid fa-circle-check"></i></button>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                $(document).ready(function() {
                    $('.complete-f').on('click', function() {
                        var tripId = $(this).data('trip-id');

                        $.ajax({
                            url: '/mark_trip_completed/' + tripId + '/',
                            method: 'POST', 
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}' 
                               
                            },
                            success: function(response) {
                              
                                console.log('Trip marked as completed');
                            },
                            error: function(xhr, errmsg, err) {
                       
                                console.log('Error marking trip as completed');
                            }
                        });
                    });
                });
                </script>

            </div>
            <p class="text-gray-700 mb-2">Date: {{trip.rideDate}}</p>
            <p class="text-gray-700 mb-2">Departure: {{trip.departure}}</p>
            <a href="{% url 'tripDetails' trip.tripID%}" class="hover:underline">View Details</a>
        </div>
        {% if trip.image %}
        <img class="w-full h-32 object-cover object-center" src="{{trip.image.url}}" alt="Trip Image">
        {%else%}
        <img class="w-32 h-32 rounded-full object-cover object-center" src={{img_placeholder}} alt="Trip Image">
        {%endif%}
    </div>
    {%endif%}
    {%endfor%}
    {%else%}
    <div class="border-sec flex justify-evenly items-center p-4 row-span-1 col-start-2 col-span-1 h-full text-center rounded-2xl">
        <div class="p-4 flex flex-col items-start">
            <h2 class="text-2xl font-bold mb-2">Seems Lonely Out There</h2>
            <p class="text-gray-700 mb-2">You haven't created any Trip yet.</p>
            <p class="text-gray-700 mb-2">How about inviting some friends?</p>
            <a href="{% url 'createTrip'%}" class="hover:underline color-sec font-bold">Create your First Trip</a>
        </div>
    </div>
    {%endif%}
    <!-- Calendar -->
    <iframe class="row-start-3 col-start-1 col-span-2" src="https://calendar.google.com/calendar/embed?src=0b6c9754170ada09a51e559d41b946979fd9a7f036e8e97029af81d51a7583bd%40group.calendar.google.com&ctz=Asia%2FBeirut" style="border: 0" width="900" height="200" frameborder="0" scrolling="no"></iframe>
    <!-- Ad Box -->
    <div class="border-primary flex justify-center items-center p-4 row-start-3 row-span-2 col-start-3 h-full text-center rounded-2xl">
        {% if not request.user.organization %}
        <div class="grid grid-cols-2">
            <div class="col-span-1 p-6 flex flex-col items-start justify-between">
                <h1 class="text-3xl font-bold mb-4 text-left">Boost your Reach with KZ Ads!</h1>
                <a href="{% url 'createAd' %}" class="color-sec hover:underline">Create an Ad</a>
            </div>
          
            <div class="flex justify-center col-span-1 items-center">
                <img class="rounded-2xl w-30 h-60 object-cover object-center" src="https://www.linearity.io/blog/content/images/2023/06/best-motion-graphic-examples-NewBlogCover.png" alt="Ad image" />
            </div>
          </div>
        {%else%}
            Ad
        {%endif%}
    </div>
</div>

<script>
    const bookmarkTrue = document.querySelectorAll(".bookmark-t");
    const bookmarkFalse = document.querySelectorAll(".bookmark-f");
    const completeTrue = document.querySelectorAll(".complete-t");
    const completeFalse = document.querySelectorAll(".complete-f");

    bookmarkFalse.forEach((elem) => {
        elem.addEventListener("click", () => {
            elem.classList.toggle('hidden');
            elem.nextElementSibling.classList.toggle('hidden');
        });
    });

    completeFalse.forEach((elem) => {
        elem.addEventListener("click", () => {
            elem.classList.toggle('hidden');
            elem.nextElementSibling.classList.toggle('hidden');
        });
    });

    bookmarkTrue.forEach((elem) => {
        elem.addEventListener("click", () => {
            elem.classList.toggle('hidden');
            elem.previousElementSibling.classList.toggle('hidden');
        });
    });

    completeTrue.forEach((elem) => {
        elem.addEventListener("click", () => {
            elem.classList.toggle('hidden');
            elem.previousElementSibling.classList.toggle('hidden');
        });
    });
</script>


{%endblock%}
