{% extends 'core.html' %}
{% block title %}User Profile{%endblock%}
{% block profile_content%}
<body class="bg-slate-100">
    <div class="h-screen flex flex-col items-center justify-center">
        <div class="w-full max-w-7xl h-3/4 bg-light rounded-lg shadow p-5 grid grid-cols-1 md:grid-cols-2 gap-8 mx-4 relative">
            <div class="mt-6">
                <div class="flex items-center space-x-8">
                    <img class="w-32 h-32 object-cover rounded-full" src="{{request.user.person.image.url}}" alt="Profile Image">
                    <div class="mt-4">
                        <h1 class="text-2xl font-bold leading-tight tracking-tight md:text-3xl color-sec mb-2">
                            {{request.user.first_name}} {{request.user.last_name}}
                        </h1>
                        <p class="text-gray-700 mb-4 font-bold">Date Joined</p>
                        {{ request.user.date_joined|date:"F j, Y" }}
                    </div>
                </div>
                <h2 class="text-xl font-bold mb-4 mt-8">Organized Trips</h2>
                <div class="grid grid-cols-1 gap-4">
                    {% if my_trips %}
                    {% for trip in my_trips|slice:":2"%}
                    <div class="bg-white rounded-lg p-4 shadow-md mb-2">
                        <h3 class="text-lg font-bold mb-2">{{trip.name}}</h3>
                        <p class="text-gray-700">{{trip.description}}</p>
                        <a href="#" class="color-pink hover:underline">View Details</a>
                    </div>
                    {%endfor%}
                    {%else%}
                    <p>No Trips yet. <a href="{% url 'createTrip'%}" class="hover:underline color-sec font-bold">Create your First Trip</a></p>
                    {%endif%}
                </div>
            </div>

            <div class="mx-8">
                <a href="{% url 'frontendLogout' %}"><button class="bg-sec text-white font-medium rounded-lg px-4 py-2.5 absolute top-4 right-4 focus:outline-none focus:ring-4 focus:ring-primary-300">Logout</button></a>
                <h2 class="text-xl font-bold mb-2 mt-6">Friends</h2>
                <div class="space-y-4">
                    <!-- Card 1 -->
                    <div class="flex items-center space-x-2">
                        <img class="w-12 h-12 object-cover rounded-full" src="https://via.placeholder.com/50" alt="Friend 1">
                        <div>
                            <p class="text-gray-700 mb-1"><a href="#">Friend 1</a></p>
                            <!-- Add more details about the friend if needed -->
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="flex items-center space-x-2">
                        <img class="w-12 h-12 object-cover rounded-full" src="https://via.placeholder.com/50" alt="Friend 2">
                        <div>
                            <p class="text-gray-700 mb-1"><a href="#">Friend 2</a></p>
                            <!-- Add more details about the friend if needed -->
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="flex items-center space-x-2">
                        <img class="w-12 h-12 object-cover rounded-full" src="https://via.placeholder.com/50" alt="Friend 3">
                        <div>
                            <p class="text-gray-700 mb-1"><a href="#">Friend 3</a></p>
                            <!-- Add more details about the friend if needed -->
                        </div>
                    </div>
                </div>

                <h2 class="text-xl font-bold mb-2 mt-6">Owned Vehicles</h2>
                <ul class="list-none pl-0 ">
                    {% if cars %}
                        {% for car in cars %}
                            <li class="mb-4">
                                <i class="fa-solid fa-car-side"></i> 
                                {{ car.make }} {{car.model}} - {{car.nbSeats}} Seats
                                
                            </li>
                        {% endfor %}
                    {%else%}
                        <p>No cars yet.</p>
                    {%endif%}
                </ul>
                <button class="bg-sec text-white font-medium rounded-lg px-4 py-2.5 top-4 right-4 focus:outline-none focus:ring-4 focus:ring-primary-300 mt-4"><a href="{% url 'createCar' %}">Add a Car</a></button>
            </div>
        </div>
    </div>
</body>
{%endblock%}
